
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.decoration {
  border: none;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  left: 15px;
  bottom: 15px;
  /* height: 40px; */
  padding: 10px;
  z-index: 996;
  color: #fff;
  background: #5865f2;
  border-radius: 4px;
  transition: all 0.4s;
}

.decoration i {
  font-size: 28px;
  color: #FFF;
  line-height: 0;
}

.decoration:hover {
  background: #5865f2;
}

.decoration.active {
  visibility: visible;
  opacity: 1;
}